{% extends "./base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1>Bienvenidos a Danilus Store</h1>
        <p class="lead mt-3">
            En Danilus Store, ofrecemos una experiencia única de compras en línea, donde la calidad y la satisfacción de nuestros clientes son nuestra prioridad. ¡Explora nuestras categorías y encuentra justo lo que necesitas!
        </p>
    </div>

    <div class="row mt-5">
        <!-- Característica 1 -->
        <div class="col-md-4 text-center">
            <i class="bi bi-truck display-4 text-primary"></i>
            <h4 class="mt-3">Envíos Rápidos</h4>
            <p>Recibe tus productos en tiempo récord, directamente en la puerta de tu hogar.</p>
        </div>

        <!-- Característica 2 -->
        <div class="col-md-4 text-center">
            <i class="bi bi-shield-check display-4 text-success"></i>
            <h4 class="mt-3">Seguridad Garantizada</h4>
            <p>Tus compras están protegidas con los más altos estándares de seguridad.</p>
        </div>

        <!-- Característica 3 -->
        <div class="col-md-4 text-center">
            <i class="bi bi-tags display-4 text-warning"></i>
            <h4 class="mt-3">Precios Competitivos</h4>
            <p>Disfruta de las mejores ofertas y descuentos en productos de alta calidad.</p>
        </div>
    </div>

 
</div>



    
<div class="album py-5 bg-light">
        
    <div class="container">

      <div class="pb-3 h5"> All products </div>


      <hr>

      <br>
      

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        
{%for product in all_products %}

<div class="col">
    <div class="card shadow-sm">
      <img class="img-fluid" alt="Responsive image" src="{{product.image.url}}">
      <div class="card-body">
        <p class="card-text">
          <a class="text-info text-decoration-none" href="">{{product.title}}</a>
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <h5>{{product.title}} </h5>
          <h6>{{product.price}}</h6>
        </div>
      </div>
    </div>
  </div>
{%endfor%}
      

        

      </div>
    </div>
  </div>
{% endblock %}
